@font-face {
    font-family: 'Billabong';
    src: url('https://cdn.jsdelivr.net/gh/kattergil/instagram-font@main/fonts/Billabong.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}